.mainLayout {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroAppTitle {
  font-size: 24px;
  font-weight: 500;
  color: white;

  margin-bottom: 12px;
}

.heroSectionTitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--ev-c-text-2);

  margin-bottom: 4px;
  margin-top: 12px;
}

.participants {
  width: 100vw;
  padding: 10vw;
  padding-bottom: calc(10vw + 50px);

  //display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  gap: 16px;

  > .participant {
    position: relative;

    padding: 12px;

    aspect-ratio: 3.5 / 1.5;
    max-width: 300px;
    flex: 1 300px;
    background-color: rgba(12, 12, 12);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;

    outline: solid 2px transparent;
    outline-offset: 2px;

    transition: 85ms ease;
    transition-property: outline, color;

    .avatar {
      position: relative;

      height: 100%;
      max-height: 64px;
      aspect-ratio: 1;
    }

    p {
      margin-bottom: -6px;
    }

    &.speaking {
      outline: solid 2px #4d94ff;
      color: #4d94ff;
    }

    &:hover .participantOptions, .participantOptions[data-state="open"] {
      opacity: 1;
    }

    .participantOptions {
      position: absolute;
      bottom: 12px;
      right: 12px;

      height: 36px;
      padding: 0 16px;

      background-color: black;
      border: none;
      border-radius: 6px;

      cursor: pointer;

      opacity: 0;

      &:hover {
        background-color: rgb(24, 24, 24);
      }

      &:focus-visible {
        outline: solid 2px #4d94ff;
      }
    }
  }
}

.heroInputForm {
  display: flex;
  gap: 8px;
  margin: 0;

  input, button {
    height: 36px;
    border-radius: 6px;

    color: white;

    &:focus {
      outline: solid 2px #0969da80;
      outline-offset: 2px;
    }
  }

  input {
    width: 256px;
    padding: 0 14px;

    background-color: rgb(24, 24, 24);
    border: solid 1px rgb(100, 100, 100);
  }

  button {
    padding: 0 16px;

    border: none;
    background-color: #0969da;

    font-weight: 500;

    cursor: pointer;

    transition: 85ms opacity;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  //:has(+ &) {
  //  margin-bottom: 12px;
  //}
}

.broadcastHint, .actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.broadcastHint {
  text-align: center;
  font-size: 14px;
  color: #82827e;

  bottom: 78px;
  z-index: 100;

  &.editing {
    animation: fade 1500ms ease-in-out infinite;

    code {
      outline: solid 1px #ff2942;
    }
  }

  button {
    background-color: transparent;
    border: none;

    color: #4d94ff;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 16px 0;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    z-index: -1;

    opacity: 0;

    background-image: linear-gradient(to top, rgb(20, 20, 25), transparent);

    transition: 155ms ease opacity;

    .canScroll & {
      opacity: 1;
    }
  }

  button {
    padding: 0 20px;
    height: 44px;

    background-color: rgb(12, 12, 12);
    border: none;
    border-radius: 99px;

    font-size: 16px;
    color: white;

    cursor: pointer;

    &.iconOnly {
      position: relative;
      padding: 0;
      width: 64px;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:hover {
      background-color: rgb(36, 36, 36);
    }

    &:focus-visible {
      outline: solid 2px #4d94ff;
    }

    &.disconnect {
      background-color: #ff2942;

      &:hover {
        background-color: #ff4a5f;
      }
    }
  }
}

.serverList {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;

  margin: 4px 0;

  > a, > button {
    padding: 14px;
    width: 100%;

    background-color: rgb(24, 24, 24);
    border: solid 1px rgb(100, 100, 100);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transition: border-color 115ms ease;
    cursor: pointer;

    &:hover, &:focus {
      border: solid 1px rgb(150, 150, 150);
    }

    &:focus {
      outline: solid 2px #0969da80;
      outline-offset: 2px;
    }

    p {
      &:first-child {
        font-size: 14px;
        font-weight: 500;
      }

      &:last-child {
        font-size: 12px;
        color: var(--ev-c-text-2)
      }
    }
  }
}

.divider {
  width: 100%;
  height: 1px;

  background-color: rgb(100, 100, 100);
  margin: 24px 0 6px;
}

.flex {
  width: 100%;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.version {
  margin: 0;

  font-size: 14px;
  color: var(--ev-c-text-2)
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 36px;
  padding: 0 4px 0 4px;

  background-color: transparent;
  border: none;
  border-radius: 8px;

  transition: background-color 115ms ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .avatar {
    width: 28px;
    height: 28px;

    border-radius: 99px;
    background-color: rgba(255, 255, 255, 0.05);
  }

  svg {
    fill: var(--ev-c-text-3)
  }
}

.avatar {
  border-radius: 999px;
  overflow: hidden;

  background-image: var(--src);
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.1);
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family: ui-monospace,
  SFMono-Regular,
  SF Mono,
  Menlo,
  Consolas,
  Liberation Mono,
  monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

@keyframes fade {
  from, to {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }
}
