@use './base';

body {
  font-family: var(--font-sans), sans-serif;

  //noinspection CssUnknownTarget
  background-image: url('/wavy-lines.svg');
  background-position: center;
  background-size: cover;
  user-select: none;
  overflow: hidden;
  overflow-y: auto;

  &.vnlSkin {
    background-image: linear-gradient(to bottom, rgba(27, 27, 32, 0.8), rgba(27, 27, 32, 0.8)), url('https://upload.wikimedia.org/wikipedia/commons/e/ea/Oevlk_-_Volvo_VNL.jpg');
  }

  [data-radix-popper-content-wrapper] {
    z-index: 5000 !important;
  }
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family: ui-monospace,
  SFMono-Regular,
  SF Mono,
  Menlo,
  Consolas,
  Liberation Mono,
  monospace;
  font-size: 85%;
}
